
  <select name="tag[user_id]">
    <% _(friends).each(function(friend) { %>
      <option value="<%= friend.id %>"><%= friend.username %></option>
    <% }); %>
  </select>

  <input type="submit" value="Tag">
